# Server Environment Variables
PORT=5050
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/wagh-ecommerce?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_EXPIRE=30d
CLIENT_URL=https://your-frontend-domain.com
NODE_ENV=production
